//
   Created by Mostafa on 9/27/2016.


doctype html
html
    head
        title Quiz details
        style.
            table, th, td {
               border: 1px solid black;
            }
    body
        div
            table
                thead
                    tr: th Answer
                        th Is Correct Answer
                tbody
                    each row in rows

                        tr
                            td #{row.question_content}
                            td #{row.answer_content}
                            td #{row.is_correct_ans}